:root {
    --white: #FFFFFF;

    --light-blue: #0095FF;
    --blue: #3465A4;


    --light-gray: #DBDBDB;
    --gray: #747474;
    --dark-gray: #2E3436;
    --dark-black: #282828;

    --dark-white: #FFF7E5;

    --orange-red: #F54500;

    --light-green: #68E868;


    --border-radius: 3px;
    --default-margin: 5px;
    --default-padding: 6px 10px;


    /*--error-red: #ee4349;*/


    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    color: var(--dark-black);

    /*COLORS: {

        color: #1e2833;

    */
}

body, html {
    /*margin: 0;*/
}

/*

########  ##     ## ######## ########  #######  ##    ##
##     ## ##     ##    ##       ##    ##     ## ###   ##
##     ## ##     ##    ##       ##    ##     ## ####  ##
########  ##     ##    ##       ##    ##     ## ## ## ##
##     ## ##     ##    ##       ##    ##     ## ##  ####
##     ## ##     ##    ##       ##    ##     ## ##   ###
########   #######     ##       ##     #######  ##    ##                             */
button, input[type=submit], input[type=reset], input[type=button], .swal-button {
    margin: var(--default-margin);
    --btn-primary-color: var(--light-blue);
    --btn-secondary-color: var(--white);
    background: var(--btn-primary-color);
    color: var(--btn-secondary-color);
    cursor: pointer;
    outline: inherit;
    padding: var(--default-padding);
    border: 1px solid var(--btn-primary-color);
    border-radius: var(--border-radius);
    transition: all 0.15s ease;
}
button::-moz-focus-inner, input[type=submit]::-moz-focus-inner, input[type=reset]::-moz-focus-inner, input[type=submit]::-moz-focus-inner {
    border: 0;
}

button.black, input[type=submit].black, input[type=reset].black, input[type=button].black {
    --btn-primary-color: var(--dark-gray);
}
button.green, input[type=submit].green, input[type=reset].green, input[type=button].green {
    --btn-primary-color: var(--light-green);
}
button.dark-gray, input[type=submit].dark-gray, input[type=reset].dark-gray, input[type=button].dark-gray {
    --btn-primary-color: var(--dark-gray);
}
button.gray, input[type=submit].gray, input[type=reset].gray, input[type=button].gray {
    --btn-primary-color: var(--gray);
}
button.red, input[type=submit].red, input[type=reset].red, input[type=button].red {
    --btn-primary-color: var(--orange-red);
}
button.inverse, input[type=submit].inverse, input[type=reset].inverse, input[type=button].inverse {
    color: var(--btn-primary-color);
    /*background: var(--btn-secondary-color);*/
    background: transparent;
}
button.inverse:hover, input[type=submit].inverse:hover, input[type=reset].inverse:hover, input[type=button].inverse:hover {
    color: var(--btn-secondary-color);
    background: var(--btn-primary-color);
}
button.no-animation, input[type=submit].no-animation, input[type=reset].no-animation, input[type=button].no-animation {
    transition: none;
}
button.no-border, input[type=submit].no-border, input[type=reset].no-border, input[type=button].no-border {
    border-radius: 0;
}
button.big, input[type=submit].big, input[type=reset].big, input[type=button].big {
    padding: 13px 18px 13px 18px;
    font-size: 130%;
}
button.small, input[type=submit].small, input[type=reset].small, input[type=button].small {
    padding: 3px 5px 3px 5px;
    font-size: 70%;
}
button:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover {
    color: var(--btn-primary-color);
    background: transparent;
    /*border-color: transparent;*/
}



/*

######## ######## ##     ## ######## ######## #### ######## ##       ########
   ##    ##        ##   ##     ##    ##        ##  ##       ##       ##     ##
   ##    ##         ## ##      ##    ##        ##  ##       ##       ##     ##
   ##    ######      ###       ##    ######    ##  ######   ##       ##     ##
   ##    ##         ## ##      ##    ##        ##  ##       ##       ##     ##
   ##    ##        ##   ##     ##    ##        ##  ##       ##       ##     ##
   ##    ######## ##     ##    ##    ##       #### ######## ######## ########       */




input[type=text], input[type=email], input[type=password] {
    margin: var(--default-margin);
    box-sizing: border-box;
    background: 0 0;
    box-shadow: none;
    outline: 0;
    color: inherit;
    display: block;
    padding: var(--default-padding);
    font-size: 14px;
    border-radius: var(--border-radius);
    border: 1px solid rgba(0, 0, 0, 0.15);
    transition: border-color .15s ease;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    border-color: var(--light-blue);
}

label {
    font-size: 85%;
    margin: var(--default-margin);
}


div.alert {
    border-radius: var(--border-radius);
    padding: 20px;
    color: white;
    transition: opacity .5s ease;
    margin: var(--default-margin);
    margin-bottom: 15px;

}


div.alert.danger {
    background-color: #f44336;
}
div.alert.warning {
    background-color: #f4992f;
}
div.alert.info {
    background-color: #0095FF;
}
div.alert.success {
    background-color: #1cc21e;
}



div.alert span.close {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}

div.social-group {
    position: absolute;
}

div.social-static {
    height: 36px;
    width: 36px;
    background: black;
    margin-left: -8px;
    color: white;
    font-size: 150%;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
    transition: padding .2s ease;
}

div.social-static:hover {
    padding-left: 5px;
}

div.social-static[type=facebook] { background: #3b5998; }
div.social-static[type=twitter] { background: #1da1f2; }
div.social-static[type=instagram] { background: #833ab4; }

div.social-static[type=snapchat] { background: #fffc00; }
div.social-static[type=linkedin] { background: #0077b5; }
div.social-static[type=pinterest] { background: #bd081c; }
div.social-static[type=github] { background: #4078c0; }
div.social-static[type=gitlab] { background: #fca326; }
div.social-static[type=xing] { background: #026466; }
div.social-static[type=tumblr] { background: #35465c; }
div.social-static[type=whatsapp] { background: #075e54; }
div.social-static[type=google-plus] { background: #dd4b39; }

/*
page specific style sheet

*/
ul {
    list-style: none;
}

li:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0fe";
    opacity: 0;
}

li.tree:before {
    opacity: 1;
    cursor: pointer;
}


li.tree.extended:before {
    content: "\f146";
}

.tree-hide {
    display: none;
}




